body {
}

.top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}
.top a {
}

#header {
  padding: 40px;
  border-bottom: 1px dashed var(--color-grey);
}

#header h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

#header nav ul li {
  display: inline;
}

#header nav ul li a {
  font-size: 20px;
  border: 1px solid var(--color-black);
  padding: 10px;
  border-radius: 30px;
  display: inline-block;
  margin: 10px 5px;
}

#header nav ul li.active a {
  background: var(--color-black);
  color: var(--color-white);
}

#main {
  padding: 40px;
}

.list {
  padding-bottom: 40px;
  border-bottom: 1px dotted var(--color-grey);
}

.list ul li {
  font-size: 18px;
  line-height: 1.8;
}

.note {
  padding: 40px 0;
  border-bottom: 1px dotted var(--color-grey);
}

.note a {
  font-size: 16px;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  margin: 5px;
}

.script .sample {
  margin-bottom: 80px;
}

.script .sample h3 {
  background: var(--color-light-grey);
  font-size: 16px;
  padding: 15px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--color-border-grey);
  font-weight: 500;
}

.script .sample .code .pre {
  margin: 0 !important;
  border-radius: 0 0 5px 5px;
  background: #272822;
}

.result.active > div {
  display: block;
  border-radius: 0 0 5px 5px;
}

.result.active h4 {
  border-radius: 5px 5px 0 0;
}

.result h4 {
  background: #f2f2f2;
  padding: 10px 20px;
  font-weight: normal;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.result > div {
  background: #272622;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}
/*js05*/

.script .sample .table {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 20px;
}

.script .sample .table table {
  width: 100%;
  border: 1px solid #e6e6e6;
  text-align: center;
  vertical-align: middle;
}

.script .sample .table table th {
  padding: 10px 15px;
  font-weight: normal;
}

.script .sample .table table td {
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
}

/*.js09*/

.script .sample .btn {
  border: 1px solid #e6e6e6;
  border-top: 0;
  padding: 2%;
}
.script .sample .btn a {
  border: 1px solid #333;
  border-radius: 2rem;
  padding: 0.8em 1.8em;
  display: inline-block;
  margin: 0.3em;
}

.script .sample .btn a:hover {
  background: #000;
  color: #fff;
}

.script .sample .view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2%;
  border: 1px solid #e6e6e6;
}
