@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}

.hdd {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 16px;
}

.box_inner {
  width: 1050px;
  margin: 0 auto;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 113px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

header .header_area h1 {
  float: left;
  padding: 45px 0 0;
}

header .header_area h1 a {
  display: block;
  width: 270px;
  height: 71px;
  text-indent: -99999;
  background-image: url('../img/logo1.png');
  background-repeat: no-repeat;
  overflow: hidden;
}

header .header_area .openMOnb {
  display: none;
}

.header_cont {
  float: right;
  width: 780px;
}

.header_cont ul.util {
  text-align: right;
  padding-top: 10px;
}

.header_cont ul.util ul {
  display: inline-block;
}
.header_cont ul.util li {
  display: inline-block;
}

.header_cont ul.util li:after {
  content: '|';
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  color: #eee;
  position: relative;
  top: -2px;
}

.header_cont ul.util li:last-child:after {
  content: '';
  display: none;
}

.header_cont ul.util li a {
  font-size: 14px;
  color: #eee;
}

/*navigation*/
.header_cont ul.gnb {
  float: right;
  box-sizing: border-box;
  padding-top: 5px;
}

.header_cont ul.gnb li {
  float: left;
}

.header_cont ul.gnb li a {
  display: block;
  padding: 20px 40px;
  font-size: 18px;
  color: #fff;
}

.header_cont ul.gnb li:last-child a {
  padding-right: 0;
}

/*level2*/
.header_cont ul.gnb .gnb_depth {
  position: absolute;
  left: 0;
  top: 113px;
  width: 100%;
  /* background-color: rgba(250, 100, 0, 0.8); */
  background-color: #7ea689;
  opacity: 0.8;
  display: none;
}

.header_cont ul.gnb .gnb_depth .submenu_list {
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}
.header_cont ul.gnb .gnb_depth2_1 .submenu_list {
  padding-left: 480px;
  box-sizing: border-box;
}

.header_cont ul.gnb .gnb_depth2_2 .submenu_list {
  padding-left: 600px;
  box-sizing: border-box;
  display: none;
}

.header_cont ul.gnb .gnb_depth2_3 .submenu_list {
  padding-left: 730px;
  box-sizing: border-box;
  display: none;
}

.header_cont ul.gnb .gnb_depth2_4 .submenu_list {
  padding-left: 840px;
  box-sizing: border-box;
  display: none;
}

.header_cont ul.gnb .gnb_depth .submenu_list li {
  display: inline-block;
}
.header_cont ul.gnb .gnb_depth .submenu_list li a {
  display: inline-block;
  padding: 20px;
}
.header_cont ul.gnb .gnb_depth .submenu_list li:last-child a {
  padding-right: 0;
}

.header_cont ul.gnb .gnb_depth .submenu_list li.on {
  color: #fff;
}

/*container*/
#container {
  padding-bottom: 70px;
}

/*slide_pc*/

/*slide_mobile*/
.main_rolling_mobile {
  display: none;
}

/*slide_pc*/
.visualRoll {
  position: relative;
  width: 100%;
  height: 550px;
}

.viewImgList {
  position: relative;
  width: 100%;
}

/*모바일용*/
.header_cont .closePop {
  display: none;
}

.viewImgList li {
  text-align: center;
  height: 550px;
  background-size: cover;
}

.viewImgList li.imglist0 {
  background-image: url('../img/v1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 50;
}
.viewImgList li.imglist2 {
  background-image: url('../img/v2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 550px; */
  overflow: hidden;
}

.viewImgList li .roll-textline {
  position: relative;
  height: 550px;
}

.viewImgList li .roll_content .roll_textline {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  line-height: 1;
  text-align: center;
  font-size: 22px;
  color: #fff;
  letter-spacing: 2px;
}

/*rolling button*/
.rollbtnArea {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  z-index: 200;
}

.rollbtnArea .rollingbtn {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.rollbtnArea .rollingbtn li {
  display: inline-block;
  margin-right: 5px;
}

.rollbtnArea .rollingbtn li.butt0 {
  margin-left: 10px;
}

.rollbtnArea .rollingbtn li.rollplay {
  display: none;
}

.rollbtnArea .rollingbtn li a {
  vertical-align: top;
}
/*인기 여행지*/
.about_area {
}

.about_area h2 {
  padding: 55px 0 105px;
  text-align: center;
  font-size: 40px;
}

.about_area .about_box {
  background-color: #f4f0e9;
  /* background-color: #7ea689; */
}

.about_area .about_box .place_list {
}

.about_area .about_box .place_list li {
  float: left;
  width: 32%;
  margin-left: 1%;
  text-align: center;
  position: relative;
  top: -50px;
}
.place_list li:first-child {
  margin-left: 0%;
}

.about_area .about_box .place_list li .img_topplace {
  width: 100%;
}
.about_area .about_box .place_list li h3 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 25px;
  color: #111;
}

.about_area .about_box .place_list li .txt {
  box-sizing: border-box;
  padding: 10px 30px 0;
  width: 100%;
  overflow: hidden;
  word-break: keep-all;
  line-height: 1.8;
  color: #666;
}
.about_area .about_box .place_list li .view {
  border-top: 2px solid #7ea689;
  padding-top: 5px;
  margin-top: 20px;
  display: inline-block;
}

/*상담 안내*/
.appbbs_area {
  padding: 60px 0;
}

.appbbs_area .appbbs_box .app_line {
  float: left;
  width: 66%;
  box-sizing: border-box;
  padding: 45px 0;
  text-align: center;
  background-image: url('../img/bg_app.jpg');
  background-repeat: no-repeat;
}

.appbbs_area .appbbs_box .app_line a {
  display: inline-block;
  width: 42%;
  height: 100px;
  line-height: 100px;
  box-sizing: border-box;
  padding-left: 75px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('img/');
}

/*footer*/
footer {
  border-top: 1px solid #ddd;
}

footer .foot_area {
  position: relative;
  padding-bottom: 40px;
}

footer .foot_area .foot_list {
  padding-top: 25px;
}

footer .foot_area .foot_list li {
  float: left;
}

footer .foot_area .foot_list li:after {
  content: '|';
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  color: #fff;
  position: relative;
  top: -2px;
}

footer .foot_area .foot_list li a {
  font-weight: bold;
  font-size: 15px;
}

footer .foot_area h2 {
  padding-top: 25px;
  font-size: 14px;
  color: #666;
}

footer .foot_area .addr {
  padding-top: 5px;
  line-height: 1.4;
  font-size: 13px;
  color: #666;
}

footer .foot_area .addr .space0 {
  letter-spacing: 0;
}

footer .foot_area .addr .copy {
  padding-top: 3px;
  font-size: 13px;
  color: #666;
  letter-spacing: 0;
}

footer .foot_area .snslink {
  position: absolute;
  right: 20px;
  top: 50px;
}

footer .foot_area .snslink li {
  float: left;
  margin-left: 60px;
}

footer .foot_area .snslink li a {
  display: block;
  width: 50px;
  height: 70px;
  text-indent: -9999px;
  background-image: url('../img/linemask.png');
  background-repeat: no-repeat;
  overflow: hidden;
}
footer .foot_area .snslink li + li a {
  background-image: url('../img/fb_mask.png');
}

footer .foot_area .snslink li + li + li a {
  background-image: url('../img/insta_mask.png');
}
