/*site*/

.site__title{font-size:13vw;
text-align: center;}


.listing__card{
    border:3px solid var(--color-black);
    border-radius:20px;
    margin:0 auto;
    overflow:hidden;
    background:var(--color-dark-white);
    margin-bottom:1em;
    position:relative;
    box-sizing:border-box;
    text-align:center;
    width:69.4vw;
    font-family: 'GmarketSans';

}

.listing__card-header{
    border-bottom:3px solid var(--color-black);
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    display:flex;
    position:relative;			
}

.listing__card-content{
    display:flex;
    flex-direction: column;
    justify-content:space-between;

}

.listing__expand{
    position:relative;
    justify-content:space-between;

}

.listing__card-title{padding: 0.7rem 2rem 0.4rem;
text-align:left;}

.listing__card-title{
    font-weight: 500;
    font-size: 3.47vw;
}

.listing__card-country{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:left;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size: 1.87vw;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-left:1rem;
    width: 20.83vw;
    border: 3px solid var(--color-black);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    height: calc(100% + 8px);
    top: -5px;
    right: -5px;
    background-color: var(--color-light-yellow);
}

.listing__card-content{
    display:flex;
    justify-content: space-between;
    text-align:left;
    flex-wrap: nowrap;
padding: 20px;

}


.listing__card-description{
  margin:30px 14px;
  font-size: 30px;
}


.listing__card-add-wrapper{margin-top:1.6rem;}
    .listing__card-add{
        padding-bottom:0.5em;
        justify-content:flex;start;
        align-items:flex-start;
        display:flex;
    }

.listing__card-add-tag{min-width:60px;
text-transform: uppercase;
letter-spacing: .05em;
line-height: 1.3;
font-weight: 500;
font-size: 13px;margin-right:1em;
}


.listing__card-tags{width:380px;
    text-align: left;
}

.listing__card-tags ul{padding-left: 10px;
}
.listing__card-tags li{
    padding:5px 30px;
    list-style: none;
     font-size:25px;
     display:inline-block;
     border:2px solid var(--color-black);
     border-radius: 20px;
}


.listing__card-img img{width:100%;
display:block;
}


.listing__expand{
display:flex;
flex-wrap:nowrap;
border-top:3px solid var(--color-black);
justify-content: space-between;
position:relative;
height:80px;
}


.listing__expand-name{width: 40%;
padding-bottom: 0;
border-bottom:none;
padding-right:1em;
padding-left:1em;
justify-content:space-between;
align-items:center;
display:flex;
}

.listing__expand-link{width: 42%;
border-left: 3px solid var(--color-black);
text-align:center;
background: var(--color-green);
}

.al{text-align:left;}


.listing__expand-source{
    position:absolute;
    right:14px;
    top:-80px;
}

.listing__expand-a{padding:1.4rem;
text-transform: uppercase;
letter-spacing:.05em;
font-size: 27px;
line-height: 3;
font-weight: 500;
}


/*banner*/
.banner{width:100%;}

.banner__link{
    display:block;
    width: 100%;
    position:relative;
    overflow:hidden;
}

.banner__title{
    display:block;
    width:100%;
    font-weight: 700;
    font-family: 'Mont-Bold';
    background: var(--color-brown);
     color: var(--color-banner);
     padding-top: 26px;
     padding-bottom: 21px; 
     font-size: 36px;
     text-align: center;
}

.banner__title:hover{
background: var(--color-banner);
color: var(--color-brown);
} 
