
/*login*/
.login{
  margin:110px auto;
  width: 500px;
}

.login__title{text-align:center;}

.login__box li{
  margin:0 0 15px;
}

.login__box li label{
  display: block;
  margin:15px 0 5px;
  font-size:10px;
}

.login__box input[type=text], .login__box input[type=password]{
  width: 100%;
  background-color: transparent;
  box-sizing:border-box;
  padding:7px;
  color:#9a9a9a;
  font-size:12px;
  border:1px solid #000;
}

.login__box li .btn01{ background-color: #000;}
.login__box li .btn02{ background-color: rgb(93, 91, 91);}

.login .forgotten{
  font-size:13px;
}

.login .forgotten li{
  float:left;
  margin-right:10px;}

.login .forgotten li a{text-decoration: underline;}
