.account{ padding:110px 0 0px;
  max-width: 1440px;
  margin:0 auto;
}

.account__first{
  border: 1px solid #ddd;
  vertical-align: middle;
  padding:20px;
  width: 40%;
  margin:1%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  height: 180px;
}

.account h3 i{
  padding-right:5px;
}

.account p a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color:#bababa;
  padding:20px 0;
  text-align: center;
}

.xi-check::before{
  content:'\2713';
  font-size: 18px;
}