.javascript {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: var(--color-black);
  border: 8px solid var(--color-white);
  border-radius: 20px;
  position: relative;
}

.character img {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.wrap {
  width: 300px;
  height: 300px;
  background: yellow;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.javascript h1 {
  font-size: 8vw;
  color: var(--color-white);
}

.javascript .menu {
  text-align: center;
}

.javascript .menu li {
  display: inline;
}

.javascript .menu li a {
  border: 1px dashed var(--color-white);
  border-radius: 50px;
  color: var(--color-white);
  display: inline-block;
  padding: 10px 30px;
  margin: 5px 0;
}

.doc {
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 300px;
}

.doc h2 {
  font-weight: 500;
  margin: 40px 0 5px;
}

.doc p {
  margin-bottom: 5px;
}

.code {
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
  background: #f4f8fa;
  overflow-x: scroll;
  margin-bottom: 10px;
  margin-top: 5px;
}

.doc .line {
  border: 1px solid #cdcdcd;
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
}

.doc h3 {
  font-weight: 500;
  margin: 20px 0 5px;
  text-decoration: underline;
}
