

.account__first{
  border: 1px solid #ddd;
  vertical-align: middle;
  padding:40px;
  width: 40%;
  margin:2% 4%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  height: 180px;
}

.account .account-title i{
  padding-right:5px;
}

.account .account-desc a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color:#bababa;
  padding:20px 0;
  text-align: center;
}

.xi-check::before{
  content:'\2713';
  font-size: 18px;
}