
@media (max-width: 1290px){
  .gnb__wrap{background-color: bisque;}
  .model-slide img{width: 280px;height: 500px;}
  .style-item{flex-basis: 25%;}
}

@media (max-width: 1024px){
  .gnb__wrap{background-color: cornflowerblue; height: 60px;}
  .gnb{display: block;}
  .gnb .logo{text-align: center;}
  .gnb .logo img{width:120px; 
  padding:10px 0px;}
  .gnb__left, .gnb__right{display: none;}
  /* .gnb__mobile{display: block;} */
  .model-slide img{width: 250px;height: 450px;}

}

@media (max-width: 960px){
  .row{padding: 50px 10px 0;}
  .gnb__wrap{background-color: red;}
  .model-slide img{width: 200px;height: 400px;}
  .text__title{font-size: 24px;}
  .tab__list{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .tab__list .list-item a {font-size: 20px;}
  .collect__title .desc {
    font-size: 18px;}  
  .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 10px 50px;}
  
  .footer>div{
    width: 100%;
    padding: 0px 10px;
    text-align: left;
    font-size: 13px;}
}

@media (max-width: 768px){
  .gnb__wrap{height: 50px;
  background-color: blue;}
  .gnb .logo img{width: 90px;
    padding: 5px 0px;}
  .text__title{
    display: block;
    text-align: center;
    margin: 0px 0px 35px;}
  .collection{flex-direction: column;}
  .collect__title{
    text-align: center;
    width: 100%;
    margin: 0px 0px 35px;}
  .collect__title h3{
    font-size: 24px;
    color:#000;}
  .collect__title .desc{
    margin-top: 10px;
    font-size:14px; 
    text-align: center;}
  .swiper-container3 .swiper-slide{
    flex-basis: 50%;}
  .style-item{
    flex-basis: 40%;
    padding:10px;}
 
}


@media (max-width: 600px){
  .gnb__wrap{background-color: green;
  height: 50px;}
  .swiper-container3 .swiper-slide{
    flex-basis: 100%;
    padding: 10px 50px;}
  .tab__list{margin:0 0 50px;}
  .tab__list .list-item a {
    font-size: 18px;
  }

  .swiper-container3 .swiper-pagination{
    z-index: 99;
    width: 200px;
    left:50%;
    transform:translateX(-50%);
    margin-top: 10px;
  }

  .swiper-container3 .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:0 4px;
  }

  .swiper-container3 .swiper-pagination-bullet.swiper-pagination-bullet-active{
    opacity:1;
    background-color: #cfcfcf;
  }

  .style{margin: 30px 0;}
  .style__cont .style-info .title{
    font-size: 13px;
    margin-top: 15px;
  }
  .footer .infor .infor-menu {font-size: 12px;
margin-top: 0;}

  .footer .address{font-size: 12px;} 

}



