
/*about*/
.about{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.about__logo{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;}

.about__logo img{
  width: 400px; 
  height: 200px;}

.about__desc{
  flex-basis: 50%;
  word-break: break-all;
  padding:10%;
}
  
.about__desc p{font-weight: 300;}