@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/*top banner*/
.top__ban {
  width:100%;
  background-color:#4c3819;
}

.marquee-overflow {
  width: 1000vw;
  font-size: 0px;
}

.ban-text {
  display: inline-block;
  height:30px;
  line-height: 2;
  animation: marquee 10s linear infinite running;
  transform: translate(0%);
  padding: 0;
  margin: 0;
  font-size: 16px;
  color:#fff;
  font-family: 'Oswald', sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*nav*/
.gnb__wrap{ 
  position: sticky;
  top:0;
  z-index: 998; 
  height: 120px;
  background-color: #fff; 
}

.gnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  max-width: 1440px;
  margin:0 auto;}

.gnb .logo{padding: 20px;}

.gnb .logo img{width: 250px; height: 80px;}

.navi{
  width:60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;}

.navi>li{
  width:100%;
  padding:20px 0;
  position:relative;
  cursor:pointer;}

.navi>li:hover{
  background-color: rgba(255,255,255,0.1);}

.navi>li>a{
  text-align: center;
  padding:20px;
}

.submenu{
  width:100%;
  position:absolute;
  left:0;
  top:80px;
  z-index:1;
  background: #333;
}

.submenu>li{
  width:100%;
  line-height: 40px;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  display: none;
}

.submenu>li:hover{
  background-color: rgba(0,0,0,0.5);
}

.submenu a{color:#fff;}

.gnb__right .usermenu{display: flex;
  padding:20px;}
  
.gnb__right .usermenu li{padding:10px;
  font-size:16px;
  font-family: 'Oswald', sans-serif;}

/*slider*/
.slider{
  width: 100%;
  height: 700px;}

.swiper-container{
  width: 100%;
  height: 100%;
  margin:0 auto;
  overflow:hidden;
  position: relative;
  padding:0;
  z-index:1;
}

.swiper-wrapper{
  position:relative;
  width: 100%;
  height: 100%;
  z-index:1;
  display: flex;
  transition-property:transform;
  box-sizing:content-box;
}

.swiper-slide{
  flex-shrink:0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  z-index: 5;
}

.slider .ss1{
  background: url('../img/main/main01.jpg') no-repeat center center;
  background-size:cover;
}

.slider .ss2{
  background: url('../img/main/main02.jpg') no-repeat center center;
  background-size:cover;
}

.slider .ss3{
  background: url('../img/main/main03.jpg') no-repeat center center;
  background-size:cover;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination-bars {
  bottom: 10%;
  left: 0;
  width: 100%;
}

.swiper-pagination-bar{
  margin:0 4px;
  width:15%;
  height:3px;
  display: inline-block;
  background-color: #ccc;
  opacity:0.2;
  border-radius:10px;
  cursor: pointer;
}
  
.swiper-pagination-bar.active{
  opacity:1;
  background-color: #fff;
}

/*model*/
.model-slide img{width: 300px;height: 600px;}

.slider-model{
  display: flex;
  animation: marquee 15s linear infinite running;
}
  
  /*tab menu*/

.tab__list{
  margin: 0 0 0 50px;
  display: inline-block;    
}

.tab__list .list-item{
  padding: 0 12px;
  line-height: 1.0;
  display: inline-block;
}

.tab__list .list-item a{
  color:#aaa;
  font-weight: 500;
  font-size: 20px;
  padding:8px 0;
  cursor:pointer;
  font-family: 'Oswald', sans-serif;
}

.tab__list .list-item.active a{
  color:#000;
  border-bottom: 1px solid #000;
}

.best__group .best__content{
  overflow:hidden;
  position: relative;
}

.best__content .content-item.active{
  display: block;
  position: static;
  left:auto;
  top:auto;
}

.best__content .content-item .item__list{
  display: flex;
  flex-wrap: wrap;
  position:relative;
}

.best__content .content-item .item__list li{
  flex: 0 0 20%;
  padding: 0 0 110px 0;
}

.content-item .item__list .thumbnail{
  position: relative;
  overflow:hidden;
  margin:0 10px 0 0;
  background-color: #fbfbfc;
}

.content-item .item__list .desc{
  text-align: center;
  position: relative;
  padding: 8px 0 0 0;
  font-family: 'GothicA1-Light';
}

.content-item .item__list .desc .name{
  margin: 0 0 13px 0;
  font-family: 'Oswald', sans-serif;
}

.content-item .item__list .desc .price{ 
  font-size: 16px;
  color:#000;
  font-family: 'GothicA1-Light';
}

/*collection*/
.collection{
  max-width: 1440px;
  padding:110px 0 110px;
  max-width: 1440px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.collect__title{
  position: relative;
  z-index:10;
  margin-right:80px;
  width:360px;
  font-family: 'Oswald', sans-serif;
}

.collect__title h3{
  font-size:68px;
  font-weight: 700;
  margin-top:70px;
  line-height: 70px;  
  color:#4c3819;
}

.collect__title .desc{
  margin-top:30px;
  word-break:break-all;
  font-size:25px;
  line-height: 1.5;
  text-align: left;
  font-family: 'GothicA1-Light';
  color:rgb(80, 76, 76);
}

.collect__content{
  overflow:hidden;
}  

.collect__content .swiper-slide.col{
  display: flex; 
}

/*style*/
.style__cont{
  overflow:hidden;
  height: 620px;
}

.style__left{
  float:left;
  width: 66%;
}

.style__left .box{
  float:left;
  width:46%;
  margin:2%;
  overflow:hidden;
}

.style__left .box a{
  width:100%;
}

.style__left .box img{
  height: 330px;
}

.style__right{
  float:left;
  width: 32%;  
  overflow:hidden;
}

/*footer*/
.footer{
  padding:110px 0 20px;
  max-width: 1440px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-family: 'GothicA1-Light';
}

.footer .address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


/*미디어쿼리*/

@media (max-width: 1290px){
  .gnb__wrap{background:cornflowerblue;}
}

@media (max-width: 1024px){
  .gnb__wrap{background:green;}
  


}

@media (max-width: 960px){
  .row{padding: 50px 10px 0;}
  .gnb__wrap{background:coral; height:80px;}
  .gnb{display: block;}
  .gnb .logo{text-align: center; padding: 10px;}
  .gnb .logo img{width: 150px; height: 50px;}
  .gnb__left, .gnb__right{display: none;}

  .slider{height: 500px;}
  .text__title{font-size: 24px;}
  .tab__list{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .tab__list .list-item a {font-size: 20px;}
  .collect__title h3 {font-size: 58px;}
  .collect__title .desc {
    margin-top: 30px;
    word-break: break-all;
    font-size: 20px;}
}

@media (max-width: 600px){
  .gnb__wrap{background:yellow;
  height: 50px;}
  .gnb{display: flex;}
  .gnb .logo{
    padding: 11px 11px 8px 11px;}    
  .gnb .logo img{width: 128px; height: 25px;}

  .slider{height: 400px;}
  
}





