
/*footer*/
.footer{
    display:flex;
    flex-direction:column;
    font-size:24px;
    align-items:flex-start;
    padding-top:15px;
    padding-bottom:2.5vw;
    background-color: var(--color-black);
    color:var(--color-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
}


.footer__logo{  
        position: relative;
        width: 13vw;
        height: 13vw;
        border-radius:50%;
        background-color: var(--color-blue);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        margin:30px;
}

.footer__eyes{position: absolute;
    top:15%;
display:flex;;
width:100%;
justify-content: center;
align-items: center;
}

.footer__eye{position: relative;
width:3vw;
height:3vw;
margin:1vw 0.5vw;
display: block;
border-radius: 50%;
background-color: var(--color-white);
overflow:hidden;}

.footer__ball{
position: absolute;
top:80%;
left:70%;
transform:translate(-50%,-50%);
width:3vw;
height:2.5vw;
background-color: var(--color-black);
border-radius: 50%;    
}

.footer__mouse{
    position: relative;    
    top:20%;
    width: 8vw;}


.footer__utils{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1.5fr;
grid-gap:90px;
}