
.detail__title{
  text-align: center;
  padding:30px 0;
  font-size: 30px;
}

.detail__area img{
  display: block;
  vertical-align: top;
  margin:0px auto;
  text-align: center;
}

/****/
.section01{
  position: relative;
  margin:100px 0;
  background: linear-gradient(0deg,#e9e3d6,#e9e3d6) no-repeat;
  background-size: 100% 60%;
}

.section01 .inner{position: relative;
margin: 0 auto;
width: 1300px;
height: 100vh;}

.section01 .inner .c1 img{width:350px;}
.section01 .inner .c2 img{width:400px;}
.section01 .inner .c3 img{width:350px;}
.section01 .inner .c1{
  position: absolute;
  left:10%;
  top:10%;
}

.section01 .inner .c2{
  position: absolute;
  right:20%;
  top:10%;
}

.section01 .inner .c3{
  position: absolute;
  right:30%;
  top:40%;
}

.section01 .slogan{
  position:absolute;
  right:15%;
  top:10%;}

.section01 .slogan img{
  width: 40px;
  height: 700px;}

.collection__detail .section01 .c1 p{
  margin-bottom: 29px;
  font-size: 72px;
  font-weight: 300;
  color:#080707;
}

.collection__detail .section01 .c1 p span{
  width:212px;
  height:4px;
  background-color: #0b0b0a;
  display: block;
}

.section02{
  position:relative;
  background: url(../img/main/main01.jpg) center top no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 611px;
  background-color: #fff;
}


.section03{
  position: relative;
  margin:100px auto;
  background-size: 100% 60%;
  width:1300px;

}



.section03 ul{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end
}

.sec03__title{width:400px;}

.sec03__title p{padding:20px;
  word-break: break-all;}

.section03 ul li{
  margin:20px 10px;
  width:500px;}



