


.outwear__content .item__list{
  margin-bottom:50px;
  font-style: 0px;
  margin-right: -1%;
  margin-left:-1%;
  letter-spacing:0;

  
}

.outwear__content .item__list >li{
  position:relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  line-height: 1.5;
  margin-right:-4px;
  padding: 0 10px 5% 10px;
}

.outwear__content .item__list .thumbnail img{
  max-width: 100%;
  box-sizing: border-box;
}

.item__list .thumbnail{
  position: relative;
  overflow:hidden;
  margin:0 10px 0 0;
  background-color: #fbfbfc;
}

.item__list .desc{
  text-align: center;
  position: relative;
  padding: 8px 0 0 0;
  font-family: 'GothicA1-Light';
}

.item__list .desc .name{
  margin: 0 0 13px 0;
  font-family: 'Oswald', sans-serif;
}

.item__list .desc .price{ 
  font-size: 16px;
  color:#000;
  font-family: 'GothicA1-Light';
}